__pycache__/
*.py[cod]

.venv/
venv/
env/

.ipynb_checkpoints/

data/raw/*
data/processed/*
trained_models/*

!data/raw/.gitkeep
!data/processed/.gitkeep
!trained_models/.gitkeep

*.pt
*.pth
*.onnx

*.log
